body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  height: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 16px;
}

.title {
  background: #e3f4ff;
}

.content {
  background: #e3f4ff;
}

.button-container {
  background: #e3f4ff;
  text-align: center;
}



.card .floating {
  margin: 8px;
  padding: 12px;
}


button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  padding: 5px 18px;
}
